body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', "courier new", Tahoma, Geneva, Verdana, sans-serif;
  /* text-align: center;
  padding: 120px;
  margin: 60px; */
}




/* form {
  color: #4c8ff3;
}

#input [type='text']{
  width: 80px;
  padding: 5px;
}

#button [type='submit']{
  color: #4c8ff3;
} */

